<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-blog" role="menuitem"><a href="{{site.baseurl}}tag/blog/">Blog</a></li>
    <li class="nav-project" role="menuitem"><a href="{{site.baseurl}}tag/project/">Project</a></li>
    <li class="nav-news" role="menuitem"><a href="{{site.baseurl}}tag/news/">News</a></li>
    <li class="nav-coupang" role="menuitem"><a href="{{site.baseurl}}tag/coupang/">Coupang</a></li>
    <li class="nav-promotion" role="menuitem"><a href="{{site.baseurl}}tag/promotion/">promotion</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>